html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Add A New Vendor 
        style
            include addVendorStyles.css
    body 
        a(href="/") Back to Home Page
        br
        a(href="/vendors") See All Vendors
        div(id="new-vendor")
            form(action='addVendor' method='POST')
                 
                label(for="title") 
                    | Name of Vendor: 
                    input(type='text', id='name' name ='name', value='')
                br
                label(for="delivery") 
                    | Delivery Fee: 
                    input(type='number', id='delivery', name='delivery', value='')
                br
                label(for="min-order") 
                    | Minimum Order: 
                    input(type='number', id='min-order', name='min-order', value='')

                br
                button(type='button', id="add", onclick='addVendor()') Add Vendor

        a(href="/addVendor" id="back") Try again
        
        script 
            include addVendor.js 