html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Home Page 
        style
            include homeStyles.css
    body 
        h1(id = 'title') Welcome to the Vendor Database
        a(href = "/") Home Page 
        br
        br
        a(href = "/vendors") See Vendors 
        br
        br
        a(href = "/addVendor") Add A Vendor
